/venv/
/shop_crm.db
/.idea/

# Ignore Python cache directories
__pycache__/
services/__pycache__/

# Ignore log files
webhook.log

# Ignore virtual environment directory
venv/
myenv/
/migrations/
instance/
/**.db
**.db
shop_crm_back.db
shop_crm_back_27_12.db
/import_data_csv/csv_product
**.cvs
/import_data_csv/csv_product/**.csv
/import_data_csv/csv_product/
/import_data_csv/csv_package/
/import_data_csv/csv_others_investments/**.csv
/.env
/.flaskenv
/import_data_csv/
/example_import_data_csv/
/requirements_backup.txt
/instance/
/sdds.txt
/app.log
/shop_crm_back.db
/shop_crm_back_27_12.db
/models/
/alembic/
