/venv/
/shop_crm.db
/.idea/

# Ignore Python cache directories
__pycache__/
services/__pycache__/

# Ignore log files
webhook.log

# Ignore virtual environment directory
venv/
/migrations/
/instance/
/**.db
/csv
**.cvs
/csv/**.csv
/csv/
/csv_package/
/csv_others_investments/**.csv
